<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>微微微博</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>是否允许劳资访问你的手机?</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>是否允许劳资使用蓝牙？</string>
	<key>NSCalendarsUsageDescription</key>
	<string>是否允许劳资使用日历？</string>
	<key>NSCameraUsageDescription</key>
	<string>是否允许劳资访问你的相机?</string>
	<key>NSContactsUsageDescription</key>
	<string>是否允许劳资访问你的通讯录？</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要通过您的地理位置信息获取您周边的相关数据</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>是否允许劳资使用你的麦克风？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>是否允许劳资访问你的相册?</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>是否允许劳资使用语音识别？</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
